<!DOCTYPE html>
                <html>
                        <head>
                            <title>PDF Document</title>
                            <meta charset="UTF-8">
                        </head>
                        <body>

                            <h1>Invoice: #<%= invoiceNo %></h1>
                            <p>Customer: #<%= customer %></h1>
                            <p>Product: #<%= product %></h1>
                            <p>Price: #<%= price %></h1>

                           

                </body>
            </html>